name: Main CI

on:
  push:
    branches: [main, concept/*]
  pull_request:
    branches: [main, concept/*]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 22.x, 24.0.0, 24.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Start docker services
        run: pnpm test:docker:start
      - name: Install dependencies
        run: pnpm install
      - name: Lint
        run: pnpm lint
      - name: Unit tests
        run: pnpm test
      - name: Build
        run: pnpm build